<%- include('../partials/header') %>


<% if (workout.exercises.length) { %>
    <section id="show-page">
        <table>
            <thead>
                <tr>
                    <th><b>Exercise:</b></th>
                    <th><b>Sets:</b></th>
                    <th><b>Reps:</b></th>
                    <th><b>Weight:</b></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% workout.exercises.forEach(function(exercise) { %>
                    <tr>
                        <td><%= exercise.name %></td>
                        <td><%= exercise.sets %></td>
                        <td><%= exercise.reps %></td>
                        <td><%= exercise.weight %></td>
                        <% if (user?._id.equals(workout.user)) { %>
                            <td><a href="/exercises/<%= exercise._id %>/edit">Edit</a></td>
                        <% } %>
                    </tr>
            <% }) %> 
            </tbody>
        </table>
    </section>
<% } %>

<% if (user?._id.equals(workout.user)) { %>
    <form id="add-exercise-form" action="/workouts/<%= workout._id %>/exercises"
        method="POST">
        <label><b>Name:</b></label>
        <input type="text" name="name"></input>
        <label><b>Sets:</b></label>
        <input type="text" name="sets"></input>
        <label><b>Reps:</b></label>
        <input type="text" name="reps"></input>
        <label><b>Weight:</b></label>
        <input type="text" name="weight"></input>
        <div></div>
        <button type="submit">Add Exercise</button>
    </form>
<% } %>

<div class="user">
    <img alt="avatar" src="<%= workout.userAvatar %>" referrerpolicy="no-referrer" >
    <%= workout.userName %>
</div>

<% if (user?._id.equals(workout.user)) { %>
    <form id="delete-workout" action="/workouts/<%= workout._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Workout</button>
    </form>
<% } %>

<%- include('../partials/footer') %>